@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  padding: 0 8vw;
}

.bgImage {
  background-image: url("/images/bgImage.png");
  height: 430.13px;
  width: 270px;
  margin-left: 60px;
  margin-top: -30px;
}
.NavImage {
  background-image: url("/images/sliderImage.png");
  height: 483px;
  width: 870px;
}

/********media query**************/

@media(min-width: 768px) and (max-width:1199px){
  .nav ul li,
  .nav2{
    font-size: 8px !important;
  }

  .SearchBTN{
    width: 15rem !important;
  }
 .GREENBTN{
  font-size: 8px !important;
  padding: 10px !important;
 }
 .BURGER{
  width: 20px !important;
 }
 .totalProd{
  width: 70px !important;
    font-size: 6px !important;
 }
 .NavTHIRD{
  font-size: 9.5px !important;
 }
 .NavItem{
  margin-bottom:11px !important
 }
 .NavImage,
  .hCard {
    width: 430px !important;
  }
  .qtyzero{
   width: 20px !important;
  }

  .yoghrut {
    width: 330px !important;
  }
  .yoghrut p {
    font-size: 10px;
  }
  .slider{
    width: 200px !important;
  }

  .yoghrut img {
    width: 100px !important;
  }
  .details h2{
    font-size: 10px !important;
  }
  .details p {
    font-size: 10px !important;
  }
  .details{
    margin-left:-47px !important
  }
   .Banner h3,
  .secondBanner h3 {
    font-size: 8px !important;
  }
  .Banner p,
   .secondBanner p {
    font-size: 5px !important;
  }
  .Banner{
    flex-direction: column;
  }
  .Banner button,
  .secondBanner {
    font-size: 10px !important;
    margin-top: 2px !important;
    padding:1px !important
  }

  .Banner img {
    width: 1000px !important;
  }
   .pad {
    padding: 10px !important;
  }
   .bev {
    padding: 6px !important;
  }
  .bev p {
    font-size: 8.5px !important;
  }
  .yellow {
    padding: 0px !important;
  }
  .yellow p {
    font-size: 9px !important;
    margin-bottom: 2px;
  }

}
@media (min-width: 1280px) and (max-width: 1440px) {
  .nav {
    justify-content: space-between !important;
  }
  .NavItem {
    font-size: 18px !important;
  }
  .NavImage,
  .hCard {
    width: 870px !important;
  }
  .navsec {
    justify-content: space-between;
  }
  .HotProd {
    justify-content: space-between;
  }
  .Banner img {
    width: 420rem !important;
  }
  .New {
    justify-content: unset;
  }
  .bev {
    padding: 10px !important;
  }

    .takecare {
    width: 800px !important;
  }
   .yoghrut {
    width: 800px !important;

  }

}
@media (min-width: 1199px) and (max-width: 1280px) {
  .NavItem {
    font-size: 11px;
  }
  .NavImage,
  .hCard {
    width: 545px !important;
  }
  .takecare {
    width: 405px !important;
  }
  .yoghrut {
    width: 422px !important;
  }
  .p1,
  .p3 {
    font-size: 10px;
  }
  .p2 {
    font-size: 11px;
  }
  .SearchBTN {
    width: 360px !important;
  }
  .Banner h3,
  .secondBanner h3 {
    font-size: 12px;
  }
  .Banner p {
    font-size: 8px;
  }
  .Banner button,
  .secondBanner {
    font-size: 10px;
    margin-top: 2px;
  }
  .pad {
    padding: 10px;
  }
  .pad p {
    font-size: 10px;
  }
  .stars {
    display: block;
  }
  .bev {
    padding: 6px !important;
  }
  .bev p {
    font-size: 8.5px;
  }
  .NavLine {
    width: 64rem;
  }
  .Banner img {
    width: 14rem !important;
  }
  .yellow {
    padding: 0px !important;
  }
  .yellow p {
    font-size: 10px !important;
    margin-bottom: 2px;
  }

}
@media (min-width:320px) and (max-width:768px){
  .SearchBTN{
    width:250px !important;
  }
  .INPUT{
    margin-top:15px !important;
    margin-bottom:20px !important
  }
  .navsec,
  .nav,
  .nav3,
  .HeroSEC,
  .HotProd ,
  .yoghrut,
  .New,
  .Banner
  {
    flex-direction: column !important;

  }
  .nav2{
    align-items: start;
  }
  .NavTHIRD {
    flex-direction: column;
    margin-top: 15px;
  }
  .parafirst{
    font-size: 9.5px !important;
  }
  .heroSEC1{
    margin:auto !important
  }
  .NavImage,
  .hCard {
    width: 260px !important;
  }
  .next {
    right: 44rem !important;
}
.previous{
  left: 8rem !important;
}
.myBEST{
  flex-direction: column;
}
.myBEST img,
.Trend{
  margin-left:0px !important
}
.qty Button,
.Trend{
  margin :auto !important
}
.bgImage,
.HotProd  ul{
  margin-left:0px !important
}
.yoghrut{
  width: 250px !important;
  gap: 0 !important
}
.yoghrut img {
  width: 100px !important;
  margin-top: -33px !important;
}
.yoghrut h2 {
  font-size: 10px !important;
}
.yoghrut p {
  font-size: 8.5px !important;
  margin-bottom :8px !important
}
.pad button
{
  margin-top: 10px !important;
}
.pad 
{
  padding: 0px !important;
  margin:10px !important
}
.gridBev{
  display: grid;
  grid-auto-flow: row !important;
  grid-row: auto !important;
  border: solid 1px #E4E5EE;
}
.bevSEC{
  margin-left: 0px !important;
}
.yellow{
  padding: 8px !important;
   border: solid 1px #E4E5EE;
}
.bev{
  padding: 10px !important;
  border-bottom: solid 1px #E4E5EE ;

}
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/*---break---*/

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

/*---break---*/

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/*---break---*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

